@import '../../../styles/variables';

.multigraph-container {
  height: calc(100vh - $header-height);
  width: 100%;
  background-color: #7575750b;
}

@media only screen and (max-width: $breakpoint-medium) {
  .multigraph-container {
    height: calc(100vh - $header-height-mobile);
  }
}
