/// colors
$primary-color: #1d1d1d;
$secondary-color: #323232;

// background
$background-color: #222;

// text
$primary-text-color: #f3f3f3;

// other
$positive-color: #137813;
$negative-color: #de1b1b;

/// fonts
$primary-font: 'Josefin Sans', sans-serif;

/// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

/// header
$header-height: 80px;
$header-height-mobile: 70px;
