@import 'styles/variables';

.error404-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $background-color;
  height: 100vh;
  color: $primary-text-color;

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }

  a {
    color: $positive-color;
    font-size: 1.5rem;
  }
}
